.order-select {
  border: 1px solid rgb(175, 170, 170);
  /* height: 400px; */
  padding: 40px;
  border-radius: 0.3rem;
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
