.container-login {
  margin: auto;
  /* margin-top: 50px; */
  width: 350px;
  height: 500px;
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 20px 10px 20px;
}

.button-login {
  width: 100%;
}

.bg-image {
  background-image: url("./bg2.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-welcome {
  background-image: url("./bg-welcome.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
