* {
  font-family: Arial, Helvetica, sans-serif;
}

p{
  color: #717171

}
.first-row {
  background-color: #18a689;
  margin-top: 80px;
  padding: 100px;
}

.misson-row {
  background-color: rgb(250, 246, 246);
  padding: 100px;
}

.fourth-row {
  background-color: #18a689;
  height: 800px;
  padding: 50px;
}

/* .fifth-row {
  padding: 100px;
  height: 600px;
} */

.btn {
  background-color: rgb(63, 168, 133);
  color: #fff;
  border: rgb(63, 168, 133);
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-white{
  color: #18a689;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;

}
.box {
  margin: 10px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.primary-text{

  color: #18a689;
}

.cta-last{
  background-blend-mode: soft-light;
    background-color: rgb(24, 166, 137);
    background-size: cover;
    padding: 100px;
    background-attachment: fixed;
    background-image: url(https://psalmon2014.files.wordpress.com/2015/06/istock_000042328596_large.jpg?w=881&h=593);
    background-repeat: no-repeat;
    background-position: bottom;
}